// COLORS
$color-primary: #5575c5;
$color-primary-light: #bfbbbb;
$color-primary-dark: #173879;

$color-grey-light: #e7eff7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: black;

// GRID
$grid-width: 114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;

// FONT
$default-font-size: 1.6rem;