// COLORS
$color-primary: #5575c5;
$color-primary-light: #bfbbbb;
$color-primary-dark: #173879;

$color-grey-light: #e7eff7;
$color-grey-dark: #a7a3a3;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: black;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #4fbd6b;
$color-tertiary-dark: #095f1f;

// GRID
$grid-width: 114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;

// FONT
$default-font-size: 1.6rem;