

.header {
  height: 100vh;
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-primary-darker, 0.8),
                  rgba($color-primary-dark, 0.8)),
  url("../assets/2.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  &.logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &.logo {
    height: 3.5rem;
  }

  &.btn {
    color: $color-primary-darker;
  }
}
